
.main-container-dash{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.outer-left-container{
    display: flex;
    flex-direction: column;
    width: 690px;
    max-width: 690px;
}

.outer-right-container{
    display: flex;
    flex-direction: column;
}


#portfolio-value-cont{
    height: 40px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 30px
}

#period-dash-graph{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #5AC53B;
    font-weight: 600;
}

.line-break-dashboard{
    border: 0;
    border-top: 1px solid rgb(48,54,58);
    width: 690px;
}

.portfolio-buying-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#buying-power-header{
    font-weight: 600;
}

#trending-list-header{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.trending-list-button{
    width: fit-content;
    background-color: black;
    color: white;
    border: 1px solid rgb(48,54,58);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    max-height: 40px;
    margin: 5px;
}

.trending-list-image-btn{
    max-width: 2rem;
    border-radius: 50px;
}

.trending-list-text-btn{
    font-size: 14px;
    padding-left: 5px;
    text-decoration: none;
}

.trending-list-button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.outer-right-container{
    border: 1px solid #40494E;
    width: 276px;
    height: 789px;
    margin-left: 3rem;
    background-color: #1E2124;
    border-radius: 5px;
}

.list-stocks-content{
    list-style: none;
}

#create-list-header-text{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 600;
    font-size: 15px;
}


#create-list-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #40494E;
    border-bottom: 1px solid #40494E;
    width: 276px;
    height: 46px;
}

#create-list-add-btn{
    height: 43px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    margin-right: 1rem;
}

#create-list-add-btn:hover{
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .trendingtable{
    width: 50%
  }

.tablecontainer{
    display: flex;
    width: 80%;

    flex-direction: column;

}

.tlist{
    color:grey
}
