body {
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
}

.parent-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.buy-sell-container {
    position: fixed;
}

.right-container {
    /* background-color: pink; */
    display: flex;
    padding: 5rem;
}

.buy-sell-btns {
    display: flex;
    justify-content: space-between;
}

.left-container {
    /* background-color: red; */
    padding: 5rem;
}


.key-statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.key-container p {
    padding-left: 3rem;
    padding-right: 3rem;
}

.about-container {
    display: grid;
}

.about-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-inner>div {
    padding-right: 3rem;
}

.item-title {
    font-weight: bolder;
    font-size: medium;
}

.item-info {
    font-weight: lighter;
    font-size: small;
}

.positiveNum {
    color: green;
}

.negativeNum {
    color: red;
}
