.stock-detail-container {
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
}

.parent-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: -6rem;
}

.buy-sell-container {
    position: fixed;
    background-color: rgb(30, 33, 36);
    border-radius: 10px;
    border-color: rgb(176, 176, 176);
    border-width: 0.1rem;
    border-style: solid;
    width: 10rem;
    height: 10rem;
    padding: 3rem;
    display: block;

}

#trade-tag {
    display: flex;
    justify-content: center;
}

.right-container {
    /* background-color: pink; */
    display: flex;
    padding: 5rem;
}

.buy-sell-btns {
    display: flex;
    justify-content: space-evenly;
    padding-top: .5rem;
}

.left-container {
    /* background-color: red; */
    padding: 5rem;
}


.key-statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.key-container p {
    padding-left: 3rem;
    padding-right: 3rem;
}

.about-container {
    display: grid;
    padding-left: 3rem;
    padding-right: 3rem;
}

.about-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-inner>div {
    padding-right: 3rem;
}

.item-title {
    font-weight: bolder;
    font-size: medium;
}

.item-info {
    font-weight: lighter;
    font-size: small;
}

.positiveNum {
    color: rgb(3, 200, 5);
}

.negativeNum {
    color: rgb(255, 80, 0);
}

.after-hours {
    color: lightgray;
    font-size: x-small;
    font-style: italic;
    padding-left: .3rem;
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buy-sell-input {
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 20px;
    appearance: none;
    transition: border 0.15s ease 0s;
}

.buy-sell-input::placeholder {
    display: none;
}

.buy-sell-input:focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(3, 200, 5);
}

.buy-sell-input::-webkit-outer-spin-button,
.buy-sell-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#buy-btn {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: rgb(3, 200, 5);
    border-color: rgb(3, 200, 5);
}

#buy-btn:disabled {
    display: none;
}

#buy-btn:hover {
    color: #fff;
    background-color: rgb(3, 200, 5);
    border-color: rgb(3, 200, 5);
}

#sell-btn {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: rgb(255, 80, 0);
    border-color: rgb(255, 80, 0);
}

#sell-btn:disabled {
    display: none;
}

#sell-btn:hover {
    color: #fff;
    background-color: rgb(255, 80, 0);
    border-color: rgb(255, 80, 0);
}

.testBtn {
    position: fixed;
    /* padding-top: 18.5rem; */
    margin-top: 18.5rem;
    display: flex;
    padding-left: 3rem;
    /* z-index: -1; */
}



.right-inner-container {
    padding-top: 17.5rem;
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
}

/* .analyst-rating-container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.recommend-buy p {
    color: rgb(3, 200, 5);
}

.recommend-sell p {
    color: rgb(255, 80, 0);
}

.recommend-hold p {
    color: rgb(3, 200, 5);
}

.reco-circle {
    margin-top: 30px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inside-circle {
    padding: 0rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
}

#inside-circle-2 {
    padding: 0rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.circle-inner-contain {
    display: flex;
} */
