.add-to-list {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: rgb(3, 200, 5);
    box-shadow: inset 0 0 0 2px rgb(3, 200, 5);
    background-color: transparent;
    height: 48px;


}

.add-to-list:hover {
    color: #fff;
    background-color: rgb(20, 170, 22);
}


.addtolisttitle{
    background-color: rgb(30, 33, 36);
    color: white

}

.addtowatchlist{
    background-color: rgb(30, 33, 36)
}

#submitadd{
    margin-top: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;

    min-width: 80px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 100;
    text-align: center;
    padding: 12px 12px 18px;
    background-color: rgb(3, 200, 5);
    color: black;
    box-shadow: inset 0 0 0 2px rgb(3, 200, 5);

    height: 20px;

}
